header{
    background-color:orange;
    text-align:center;
}
.blue{
    background-color:cyan;
    text-align:center;
    float:left;
    width:50%;
}
.green{
    background-color:green;
    text-align:center;
    display:inline-block;
    width:50%;
}
.red{
    background-color:red;
    float:left;
    width:33%;
}
.yellow{
    background-color:yellow;
    display:inline-block;
    width:34%;
}
.purple{
    background-color:purple;
    float:right;
    width:33%;
}
.blue, .green, .purple, .red, .yellow, header{
    height:350px;
    text-align:center;
}